.navbar{
	font-size: 20px;
    font-family: 'Ubuntu' ,sans-serif;
	background-color: #5f9ea0;
	margin-bottom: -5px;
	padding: 8px;
/*padding-bottom: -10px;*/
}
/*.login-buttons{
	padding-right: 5px;
	margin: 5px;
}*/
#nav{
text-color : black;

color: black;
}
a:link{
color:black;}
